* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #222222;
    font-size: 18px;
    /*background: url(/assets/img/background_light.png);*/
}

p {
}
a {
    color: #9C0000;
}
a:hover {
    color: #7C0000;
}

/* content containers */
.container {
    width: 840px;
    background: #FFFFFF;
}
.subhead h1 {
    font-size: 0.75em;
}
