
        body {
            padding: 20px;
            background: url(/img/small_debut_light.png);
        }
        p {
            font-size: 16px;
        }
        p > code {
            font-size: 14px;
        }
        .container {
            margin: 0 auto;
            padding: 10px;
            max-width: 860px;
            position: relative;
        }
        .content {
            background: #FFF;
            padding: 30px;
        }
        .shadow {
            -moz-box-shadow:    2px 2px 5px 1px #888;
            -webkit-box-shadow: 2px 2px 5px 1px #888;
            box-shadow:         2px 2px 5px 1px #888;
        }
        
        /* styling specifically for the content of a post */
        .content h1 {
            font-size: 22.5px;
            line-height: 26px;
            color: #555;
        }
        .content h2 {
            font-size: 18px;
            line-height: 26px;
            color: #555;
            border-bottom: 1px solid lightgray;
        }
        .content ul li,
        .content ol li {
            font-size: 16px;
        }
        .content ul li code,
        .content ol li code {
            font-size: 14px;
        }

div#homepage {

}
div#homepage h1 {
    font-size: 30px;
    text-align: center;
}
div#homepage p {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
