
body {
    padding: 20px;
    background: url(/img/small_debut_light.png);
}
p {
    font-size: 16px;
}
p > code {
    font-size: 14px;
}
.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 860px;
    position: relative;
}
.content {
    background: #FFF;
    padding: 30px;
}
.shadow {
    -moz-box-shadow:    2px 2px 5px 1px #888;
    -webkit-box-shadow: 2px 2px 5px 1px #888;
    box-shadow:         2px 2px 5px 1px #888;
}

/* styling specifically for the content of a post */
.content h1 {
    font-size: 22.5px;
    line-height: 26px;
    color: #000;
}
.content h1 small {
    font-size: 20.5px;
    line-height: 26px;
    color: #999;
}
.content h2 {
    font-size: 20px;
    line-height: 26px;
    color: #555;
    border-bottom: 1px solid lightgray;
}
.content h2 small {
    font-size: 18px;
    line-height: 26px;
    color: #999;
}
.content h3 {
    font-size: 17px;
}
.content h3 small {
    font-size: 15px;
    color: #999;
}
.content h4 {
    font-size: 15px;
}
.content h4 small {
    font-size: 13px;
    color: #999;
}
.content h5 {
    font-size: 13px;
    padding: 0;
}
.content h5 small {
    font-size: 11px;
    padding: 0;
    color: #999;
}
.content h6 {
    font-size: 11px;
    padding: 0;
}
.content h6 small {
    font-size: 9px;
    padding: 0;
    color: #999;
}
.content ul li,
.content ol li {
    font-size: 16px;
}
.content ul li code,
.content ol li code {
    font-size: 14px;
}
.content pre {
    padding: 2px 10px;
}
.content pre code {
    font-size: 14px;
}

div#homepage {

}
div#homepage h1 {
    font-size: 30px;
    text-align: center;
}
div#homepage p {
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
