---
layout: default
title: Home
---
<div id="homepage">

<h1>&middot; Hi, I'm Josh &middot;</h1>

<p>
I am a graduate research assistant at
<a href="http://cse.unl.edu/">UNL</a>
</p>

<p>
I love
<a href="https://github.com/jbranchaud">programming</a>,
playing pool, and
<a href="http://www.flickr.com/photos/jbranchaud/">photography</a>
</p>

<p>
I am the co-founder of
<a href="http://beerandco.de">Beer and Code</a>, a Lincoln-area meetup
</p>

<p>
More details can be found on my <a href="/about.html">about</a> page
and if you'd like to contact me,
<a href="mailto:jbranchaud@gmail.com"</a>email me</a> or hit me up on
<a href="https://twitter.com/jbrancha">twitter</a>
</p>

</div>

{% comment %}
<div id="posts">

    {% assign count = 0 %}
    {% for post in site.posts offset: 0 %}
    {% if post.status == 'publish' and count < 8 %}
        <div style="border-bottom: 1px solid gray; padding: 5px 0;">
        <small style="color: #999;">{{ post.date | date: "%m/%d/%y" }}</small> 
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br />
        {% if post.summary %}
            <small>{{ post.summary }}</small>
        {% endif %}
        </div>
        {% assign count = count | plus:1 %}
    {% endif %}
    {% endfor %}

<div style="margin: 15px 0; padding-top: 5px;">
<small>
    <a href="/archive.html" title="an archive of all posts">&larr; More posts</a>
</small>
</div>

</div>

{% endcomment %}
