---
layout: default
title: Home
---
<div id="homepage">

<h1>&middot; Hi, I'm Josh &middot;</h1>

<p>
I'm living in Grand Bourg, Argentina for a year working as a
<a href="http://www.elca.org/Who-We-Are/Our-Three-Expressions/Churchwide-Organization/Global-Mission/Engage-in-Global-Mission/Global-Service/Basics-of-Global-Service/Young-Adults.aspx">YAGM</a>
-- <a href="http://joshanderin.com/2013/07/15/Our-Placement.html">more details</a>
</p>

<p>
I love to
<a href="https://github.com/jbranchaud">write code</a>,
<a href="http://www.flickr.com/photos/jbranchaud/">photograph things</a>,
and shoot pool
</p>

<p>
I am a co-founder of
<a href="http://beerandco.de">Beer and Code</a>, a Lincoln-area meetup
</p>

<!--
<p>
Additionally, I can be found on
<a href="http://stackoverflow.com/users/535590/treebranch">StackOverflow</a>,
<a href="https://bitbucket.org/jbranchaud">BitBucket</a>,
<a href="http://www.linkedin.com/pub/josh-branchaud/30/b42/928">LinkedIn</a>,
and
<a href="http://500px.com/jbrancha">500px</a>
</p>
-->

<hr />

<h1><small>Recent Blog Posts</small></h1>

</div>

<div id="posts">

    {% for post in site.posts offset: 0 limit: 10 %}
        <div style="border-bottom: 1px solid gray; padding: 5px 0;">
        <small style="color: #999;">{{ post.date | date: "%m/%d/%Y" }}</small> 
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br />
        {% if post.summary %}
            <small>{{ post.summary }}</small>
        {% endif %}
        </div>
    {% endfor %}

<div style="margin: 15px 0; padding-top: 5px;">
<small>
    <a href="/blog/archive.html" title="an archive of all posts">&larr; More posts</a>
</small>
</div>

</div>
