* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #222222;
    font-size: 18px;
    border-top: 6px solid #9C0000;
    padding: 1.0em 0;
    font-family: 'Gilda Display', serif;
    /*background: url(/assets/img/background_light.png);*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Gilda Display', serif;
}
p {
    margin-bottom: 1.0em;
}
a {
    color: #9C0000;
}
a:hover {
    color: #7C0000;
}
code {
    color: #555;
    background: #EEE;
}

/* content containers */
.container {
    width: 840px;
    background: #FFFFFF;
}
.subhead {
    margin-bottom: 3.0em;
}
.subnav h1 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 1.0em;
}
.content {
    margin-bottom: 2.0em;
}
.bounce-links {
    border-top: 1px solid #CCC;
    margin-top: 2.0em;
}
.archive-link {
    margin-top: 1.0em;
}
.post-item {
    padding: 0.5em 0;
    border-bottom: 1px solid #CCC;
}

/* index page */
#home-header {
    text-align: center;
}

/* posts */
.post-header {
    margin: 3.0em 0;
}
.post-date {
    font-size: 12px;
    color: #888888;
    margin: 0;
}
.post-title {
    margin-top: 0;
}

.post-content {
    margin-bottom: 2.0em;
}
.post-content img {
    max-width: 100%
}

.post-footer {
    margin-bottom: 2.0em;
}

.post-comments {
    margin-bottom: 2.0em;
}

/* posts index */
#posts img {
  max-width: 100%;
}
