<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
	<!-- Define the page charset to be utf-8 -->
	<meta charset="utf-8" />
	
    <title>{{ page.title }} &middot; Josh Branchaud</title>
	
	<!-- Enter a brief description of your page -->
	<meta name="description" content="">
	
	<!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width) and setting the initial page zoom level to be 1 (initial-scale=1.0) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Atom Feed -->
    <link href="/feed.xml" rel="alternate" title="Josh Branchaud's Blog Post Feed" type="application/atom+xml">
	
	<!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
	<link href="/assets/css/normalize.css" rel="stylesheet" media="all" />

    <!-- Add bootstrap which makes everything better -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="all" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" media="all" />
    <!--
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <!-- Stylesheet for Pygments highlighting -->
    <link href="/css/pygments.css" rel="stylesheet" media="all" />

    <!-- Include the site stylesheet -->
	<link href="/assets/css/main.css" rel="stylesheet" media="all" />

</head>
<body>

    <div class="container">

	<!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
	<!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page --> 
	<header role="banner" class="subhead">
	
		<!-- ARIA: the landmark role "navigation" is added here as the element contains site navigation -->
		<div class="subnav">
			<!-- This can contain your site navigation either in an unordered list or even a paragraph that contains links that allow users to navigate your site -->
            <ul class="nav nav-pills pull-right">
                <li><a href="/about.html">about</a></li>
                <li><a href="/blog/">blog</a></li>
                <li><a title="publications" href="http://www.informatik.uni-trier.de/~ley/pers/hd/b/Branchaud:Joshua.html">
                    <i class="fa-book"></i>
                </a></li>
                <li><a title="code" href="http://github.com/jbranchaud">
                    <i class="fa-github"></i>
                </a></li>
                <li><a title="photos" href="http://flickr.com/jbranchaud">
                    <i class="fa-camera-retro"></i>
                </a></li>
                <li><a title="tweets" href="https://twitter.com/jbrancha">
                    <i class="fa-twitter"></i>
                </a></li>
                <li><a title="feed" href="/feed.xml">
                    <i class="fa-rss"></i>
                </a></li>
            </ul>
		</div>

		<h3><a href="/">Josh Branchaud</a></h3>	
		
	</header>
	
	<!-- If you want to use an element as a wrapper, i.e. for styling only, then <div> is still the element to use -->
	<div class="wrap content shadow">
	
        {{ content }}
		
	</div>
	
	<!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
	<!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
	<footer role="contentinfo">

        <small class="pull-right">Lovingly concocted by <a href="http://jekyllrb.com/">Jekyll</a></small>

		<!-- Copyright information can be contained within the <small> element. The <time> element is used here to indicate that the '2012' is a date -->
            <small>&copy; <time datetime="2013">2013</time> - <time datetime="2014">2014</time> <a href="http://joshbranchaud.com">Josh
                Branchaud</a> </small><br />
        <small>
            Contact:
            <a href="mailto:jbranchaud@gmail.com">email</a>
            and
            <a href="http://twitter.com/jbrancha">@jbrancha</a>
        </small>

	</footer>

    </div>
	
	<!-- Google Analytics - change the UA-XXXX-XX string to your site's ID -->
	<script>
		var _gaq = _gaq || [];
	 	_gaq.push(['_setAccount', 'UA-37246590-1']);
	  	_gaq.push(['_trackPageview']);
	
	  	(function() {
	    		var ga = document.createElement('script'); ga.async = true;
	    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
	
</body>
</html>
