---
layout: default
---

<h4 class="pull-right"><small>{{ page.date | date: "%A - %b %d, %Y" }}</small></h4>

<h4 style="border-bottom: solid 1px lightgray;">{{ page.title }}</h4>

{{ content }}

<small class="well" style="padding: 6px;">
{% if page.hn-discussion %}
    Further the discussion on
    <a href="{{ page.hn-discussion }}">HackerNews</a>
    and follow me on <a href="http://twitter.com/jbrancha">Twitter</a>.
{% else %}
    Follow me on <a href="http://twitter.com/jbrancha">Twitter</a>.
{% endif %}
</small>

<div style="margin: 15px 0; padding-top: 5px; border-top: 1px solid lightgray;">
<!--
{% if page.next %}
<small class="pull-right">
    <a href="{{ page.next.url }}"
    {% if page.next.summary %}
        title="{{ page.next.summary }}"
    {% endif %}
    >{{ page.next.title }} &rarr;</a>
</small>
{% endif %}

{% if page.previous %}
<small>
    <a href="{{ page.previous.url }}" title="{{ page.previous.summary }}">&larr; {{ page.previous.title }}</a>
</small>
{% endif %}
-->

<!-- for finding the 'next' post go through chronologically -->
{% assign currentreached = false %}
{% for post in site.posts reversed %}
    {% if post.id == page.id %}
        {% assign currentreached = true %}
    {% elsif currentreached and post.status == 'publish' %}
        <small class="pull-right">
            <a href="{{ post.url }}"
            {% if post.summary %}
                title="{{ post.summary }}"
            {% endif %}
            >{{ post.title }} &rarr;</a>
        </small>
        {% assign currentreached = false %}
    {% endif %}
{% endfor %}

<!-- for finding the 'prev' post, go through reverse chronologically -->
{% assign currentreached = false %}
{% for post in site.posts %}
    {% if post.id == page.id %}
        {% assign currentreached = true %}
    {% elsif currentreached and post.status == 'publish' %}
        <small>
            <a href="{{ post.url }}" title="{{ post.summary }}">&larr; {{ post.title }}</a>
        </small>
        {% assign currentreached = false %}
    {% endif %}
{% endfor %}

</div>

<!--
<div style="font-size: 85%;">
Related Posts:
<ul>
{% for post in site.related_posts offset: 0 limit: 3 %}
    <li><a href="{{ post.url }}" title="{{ post.summary }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
-->

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'joshbranchaud'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    

